<!DOCTYPE html>
<html>
  <%- include("../templates/head.ejs") %>
  <body>
    <%- include("../templates/navBar.ejs") %>
    <br />

    <br />
    <div class="container">
      <h2>#<%= booking.bookingID %></h2>
      <ul class="list-group list-group-flush">
        
        <li class="list-group-item">Start Date: <%= booking.bookingStartDate %></li>
        <li class="list-group-item">End Date: <%= booking.bookingEndDate %></li>
        <li class="list-group-item">
          Transaction amount: $<%= booking.totalCharge %>
        </li>
        <li class="list-group-item">Car make: <%= booking.make %></li>
        <li class="list-group-item">Car model: <%= booking.model %></li>
        <li class="list-group-item">Car category: <%= booking.categoryType %></li>
        <li class="list-group-item">Pick up branch: <%= booking.branchName %></li>
        <li class="list-group-item">City: <%= booking.city %></li>
        <li class="list-group-item">State: <%= booking.state %></li>
        <li class="list-group-item">Country: <%= booking.country %></li>
      </ul>
    </div>

    <br />
    <div class="container">
      <h2>Customer Information</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Customer Name: <%= booking.firstName %> <%= booking.lastName %></li>
        <li class="list-group-item">Customer ID: <%= booking.customerID %></li>
        <li class="list-group-item">Email: <%= booking.email %></li>
        <li class="list-group-item">
          Phone number: <%= booking.phoneNumber %>
        </li>
       
      </ul>
    </div>


    <%- include("../templates/footer.ejs") %>
  </body>
</html>
